<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:replace="fragments/navbar"></th:block>
    </header>
    <main class="mt-3">
        <h1 class="text-dark text-center">All Clients</h1>
        <hr class="hr-2 ">
        <table class="table">
            <thead>
            <tr class="font-weight-bold">
                <th class="w-5">#</th>
                <th class="w-25">Name</th>
                <th class="w-15">UIC</th>
                <th class="w-15">Phone</th>
                <th class="w-15">Post Code</th>
                <th class="w-25">Address</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="client, iter : ${allClients}" th:object="${client}">
                <td class="w-5" th:text="${iter.index + 1}"></td>
                <td class="w-25" th:text="*{name}"></td>
                <td class="w-15" th:text="*{uic}"></td>
                <td class="w-15" th:text="*{Phone}"></td>
                <td class="w-15" th:text="*{postcode}"></td>
                <td class="w-25" th:text="*{address}"></td>
            </tr>
            </tbody>
        </table>
    </main>
</div>
</body>
</html>
